spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/todos_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true

server:
  port: 8082