spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5432/todos_db
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true

server:
  port: 8082

logging:
  level:
    org.springframework.security.oauth2: ERROR
    org.springframework.security.authentication: ERROR
    org.springframework.security.web: ERROR

app:
  jwt:
    secret: ${JWT_SECRET:change-me-in-production-must-be-at-least-32-chars-long!!}
    expiration-ms: 300000           # 5 min
    refresh-token-expiration-ms: 600000  # 10 min